pypdf
python-docx
PyYAML
chardet
hanlp
ebooklib
beautifulsoup4
langchain
langchain-core
langchain-openai
langchain-text-splitters
langchain-community
langchain-chroma
chromadb
faiss-cpu
langchain-huggingface
sentence-transformers
langchain-ollama
neo4j
python-dotenv
langgraph
streamlit>=1.35.0
pyvis>=0.3.2
pandas
